<footer>
  <div class="page__footer-follow">
    <ul class="social-icons">
      <li><a href="https://x.com/_sundayz" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-square-x-twitter" aria-hidden="true"></i> X</a></li>
      <li><a href="https://github.com/sundayz-hunter" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>   
    </ul>
  </div>
  <div class="page__footer-copyright">&copy; :year <a href="https://sundayz-hunter.github.io">Sundayz</a>.</div>
</footer>
