body {
  font-size: 18px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 2.07em;
}

h2 {
  font-size: 1.84em;
}

h3 {
  font-size: 1.61em;
}

h4, h5, h6 {
  font-size: 1.38em;
}

@import "minimal-mistakes";

