body {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 1.80em;
}

h2 {
  font-size: 1.60em;
}

h3 {
  font-size: 1.40em;
}

h4, h5, h6 {
  font-size: 1.20em;
}

@import "minimal-mistakes";

